{% extends 'base.html' %}
{% load static %}

{% block title%}My Technical Skill{% endblock %}

{% block content %}
    <h1 class="display-4 color-white text-center">MY TECHNICAL SKILL</h1>
    <p class="lead">My technical skills is mostly contains with something related to the computer programming</p>

    <div class="text-center">
        <img src="{% static "img/skill.png" %}" class="img-fluid" id="resize-small">
        <p>JAVA</p>
        <div class="progress">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
        </div><br>
        <p>PYTHON</p>
        <div class="progress">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div><br>
        <p>HTML</p>
        <div class="progress">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div><br>
        <p>CSS</p>
        <div class="progress">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div><br>
        <p>JAVASCRIPT</p>
        <div class="progress">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
{% endblock %}