{% extends 'base.html' %}
{% load static %}

{% block title%}Register Here{% endblock %}

{% block content %}
    <h1 class="display-4 color-white text-center">REGISTER</h1>
    <p class="lead text-center">Be a member</p>
    <form>
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-5">
                <label for="exampleName">Name</label>
                <input type="email" class="form-control" id="exampleName" placeholder="Fullname">
            </div>
            <div class="form-group col-sm-5">
                <label for="exampleBirth">Birthdate</label>
                <input type="date" class="form-control" id="exampleName">
            </div>
            <div class="col-sm-1"></div>

        </div>
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                <label for="exampleUsername">Username</label>
                <input type="text" class="form-control" id="exampleUsername" placeholder="Username">
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-5">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group col-sm-5">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <br><br>
            </div>
            <div class="col-sm-1"></div>

        </div>

        <button type="submit" class="btn btn-primary float-right">Register</button>
    </form>
{% endblock %}