{% extends 'base.html' %}
{% load static %}

{% block title%}Schedules{% endblock %}

{% block content %}
    <h1 class="display-4 color-white text-center">ADD SCHEDULE</h1>
    <form action="{% url 'story_3:schedule_creation' %}" method="post">
        {% csrf_token %}
        <div class="form-row">

            {% for field in form %}
                {% if field.label == 'Day'%}
                    <div class="col-sm-1"></div>
                    <div class="form-group col-sm-5">
                        {{ field.label_tag }}
                        <br>
                        {{ field }}
                    </div>
                {% elif  field.label == 'Date'%}
                    <div class="form-group col-sm-5">
                        {{ field.label_tag }}
                        <br>
                        {{ field }}
                    </div>
                    <div class="col-sm-1"></div>
                {% else %}
                    <div class="col-sm-1"></div>
                    <div class="form-group col-sm-10">
                        {{ field.label_tag }}
                        <br>
                        {{ field }}
                    </div>
                    <div class="col-sm-1"></div>

                {% endif %}
            {% endfor %}
            <div class="col-sm-10"></div>
            <input type="submit" class="btn btn-primary float-right" value="Add Schedule">
        </div>
    </form>
{% endblock %}