{% extends 'base.html' %}
{% load static %}

{% block title%}Schedules{% endblock %}

{% block content %}
    <h1 class="display-4 color-white text-center">SCHEDULE</h1>
    <div class="article">
        <a href="{% url 'story_3:schedule_drop_all' %}"><img src="{% static 'img/remove.png' %}" id="resize-small" class="float-right"></a>
        <a href="{% url 'story_3:schedule_creation' %}"><img src="{% static 'img/add.png' %}" id="resize-small" class="float-right"></a>
        <div class="article">
            <div class="row">
                {% for schedule in schedules %}
                    <div class="col-sm-4 text-center">
                        <h2 class="jadwal">{{ schedule.activity }}</h2>
                        <p>{{ schedule.day }},
                            {{ schedule.date.date }}<br>
                            {{ schedule.time}}<br>
                            {{ schedule.place }}<br>
                            {{ schedule.category }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}