{% extends 'base.html' %}
{% load static %}

{% block title%}Contact me{% endblock %}

{% block content %}
    <h1 class="display-4 color-white text-center">CONTACT ME</h1>
    <p class="lead text-right">Looking forward to answer your email.
        <br>Feel free to send me an email here.</p>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-5">
            <p>Cell &emsp;&emsp;&emsp;+62 878-8317-7019
                <br>
                E-mail &emsp;&emsp;rayazrin19@gmail.com
                <br>
                Line &emsp;&emsp;&emsp;rayazrin19
                <br>
                Address &emsp;Jl. Juragan Sinda II No.15</p><br><br><br><br><br>
            <p>Social Media</p>
            <div class="d-inline-block">
                <a href="https://twitter.com/razrinn/"><img src="{% static "img/twitter.png"%}" id="resize-small"></a>
                <a href="https://facebook.com/rayazrk"><img src="{% static "img/fb.png"%}" id="resize-small"></a>
                <a href="https://instagram.com/razrinn"><img src="{% static "img/ig.png"%}" id="resize-small"></a>
                <a href="https://www.linkedin.com/in/ray-azrin-0365a8155/"><img src="{% static "img/linkedin.png"%}" id="resize-small"></a>

            </div>
        </div>

        <div class="col-sm"></div>
        <div class="col-sm-5">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name*</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message*</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary float-right">Send</button>
            </form>
        </div>
    </div>
{% endblock %}