{% extends 'base.html' %}
{% load static %}

{% block title%}About me{% endblock %}

{% block content %}
    <h1 class="display-4 color-white text-center">ABOUT ME</h1>
    <p class="lead text-center">A brief story about my life</p>
    <div class="row">
        <div class="col-sm-6 text-center">
            <img src="{% static "img/about.jpg" %}" class="rounded-circle img-fluid" id="resize">
        </div>
        <div class="col-sm-6 text-justify">
            My interest in computing has not been restricted to the classroom and college life. Within the last twelve months I’ve used the knowledge that I’ve gained over the past twelve years together with the help of my family to set up my own computer
            related business. This has given me a totally new perspective on how certain things function, and how business operates. The writing of a business plan was a totally alien experience for me, but over the course of 9 months I researched and planned,
            and finally when the plan was complete I was rewarded with the satisfaction of knowing that I had completed something that most people would never have the chance to do especially at my age. Through the setting up of the company and its subsequent
            running I have learnt many things. These include how to balance tasks effectively, how critical teamwork can be and how to delegate tasks to get the job done quickly and efficiently.
            <br><br>
            I’m looking forward with great anticipation to the challenges that studying for a degree in computer science will bring.
        </div>
    </div>
{% endblock %}