{% extends 'base.html' %}
{% load static %}

{% block title%}My Working Experience{% endblock %}

{% block content %}
    <h1 class="display-4 color-white text-center">MY WORKING EXPERIENCE</h1>
    <div class="row text-center">
        <div class="col-sm-4">
            <img src="{% static "img/bem.jpg" %}" class="rounded-circle img-fluid" id="resize">
            <p>Staff of Academic and Leadership Department BEM Fasilkom UI 2018</p>
        </div>
        <div class="col-sm-4">
            <img src="{% static "img/fuki.png" %}" class="rounded-circle img-fluid" id="resize">
            <p>Staff of Muslim Development Center FUKI Fasilkom UI 2018</p>
        </div>
        <div class="col-sm-4">
            <img src="{% static "img/compfest.jpg" %}" class="rounded-circle img-fluid" id="resize">
            <p>Staff of Business IT Case Competition Compfest X</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <img src="{% static "img/okk.jpg" %}" class="rounded-circle img-fluid" id="resize">
            <p>Mentor OKK UI 2018
            </div>
            <div class="col-sm-4">
                <img src="{% static "img/pmb.jpg" %}" class="rounded-circle img-fluid" id="resize">
                <p>Staff of Supporting PMB Fasilkom UI 2018</p>
            </div>
            <div class="col-sm-2"></div>
        </div>

    {% endblock %}