{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{% static " css/style.css" %}">
</head>

<body>
    <div id="saya">
        <a href="https://www.linkedin.com/in/ray-azrin-0365a8155/" target="_blank"><img src="{% static "image/ray.png" %}" alt="Ray Azrin Karim" style="width: 30vw;height: 30vw;"></a>
        <div class="text">
            <h1>Hello, my name is {{ name }}</h1>
            <p><strong>NPM : {{ npm }}
                <br>I am {{ age }} years old
                <br>Currently I'm majoring Information System Bachelor Degree at {{ univ }}
                <br>My hobby is {{ hobby }}</strong>
                <br>
                <br>It takes a while to get to know Ray Azrin Karim, but the biggest two things to know are that he's farsighted and insightful.
                <br>Of course he's also adaptable, innovative and sweet, but those are often overshadowed by tendencies of being blunt as well. <br><br><br><br><br>
            </p>
        </div>
    </div>

    <div id="depan">
        <img src="{% static "image/fotojihan.jpg" %}" alt="Ray Azrin Karim" style="width: 30vw;height: 30vw;">
        <div class="text">
            <h1>Her name is Jihan Maulana Octa</h1>
            <p><strong>NPM : 1706984644
                <br>She is 18 years old
                <br>Currently she's majoring Information System Bachelor Degree at {{ univ }}
                <br>Her hobby is Singing</strong>
                <br>
                <br>She's interested to work as a Product Manager <br><br><br><br><br>
            </p>
        </div>
    </div>

    <div id="belakang">
        <img src="{% static "image/fotoyosafat.jpg" %}" alt="Ray Azrin Karim" style="width: 30vw;height: 30vw;">
        <div class="text">
            <h1>His name is Yosafat Tri Putra Brata</h1>
            <p><strong>NPM : 1706043430
                <br>He is 19 years old
                <br>Currently he's majoring Information System Bachelor Degree at {{ univ }}
                <br>His hobby is playing games and sleeping</strong>
                <br>
                <br>He's from Jambi, small city from Sumatra. You can call him Yosafat
            </p>
        </div>
    </div>
</body>

</html>