body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("/static/image/bg.png");

    background-size: 100vw 100vh;

    text-align: center;
}


.text {
    color: lightblue;
    font-family: Garamond;
    font-size: 1vw 1vh;
}
