.bg-red{
  background-color: #E74C3C !important;
}

.bg-dark-red {
    background-color: #C0392B;
}

.bg-orange {
    background-color: #F39C12;
}

.bg-yellow {
    background-color: #F1C40F;
}

.bg-dark-yellow {
    background-color: #D35400;
}

.bg-dark-orange {
    background-color: #E67E22;
}

body{
    background-image: url("https://thumbs.gfycat.com/PitifulCaringHog-small.gif");
}

.img-center {
    margin: 0 auto;
}

.bg-gray {
    background-color: #DBDBDB;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.font-grey {
    color: #d1c7c7;
}

.row {
    padding-top: 50px;
}

.container {
    padding-top: 40px;
}

.text-justify{
    text-align: justify;
    text-justify: inter-word;
}

.jadwal {
    background-color: white;
}

#home {
    padding-top : 60px;
    text-align: center;
}

#resize {
    width: 70%;

}

#resize-small {
    width: 10%;
    margin
}

#education-smp {
    width: 100%;
    height: 100%;
}

#education-sma {
    width: 60%;
    height: 60%;
}

#education {
    padding-top: 75px;
}
